nav {
    background: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: white;

    .nav-title {
        font-size: 2rem;
        padding-top: 2rem;
        padding-left: 1rem;
        padding-bottom: 2rem;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        
        li {
            padding: .2rem;
            font-size: 1.2rem;
        }


    }


}

@media screen and (min-width: 40rem) {
    nav {

        .nav-title{
            margin-left: 6rem;
        }

        .nav-items{
            flex-direction: row;
            margin-right: 6rem;
        }
    }
}
