.login-form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-box{

    border: 1px solid black;
    border-radius: 1rem;
    background: rgb(246, 246, 246);

    h3 {
        text-align: center;
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="text"], input[type="password"], input[type="submit"]  {
        background: lightgray;
        width: 90%;
        padding: .5rem;
        border: 1px solid black;
        border-radius: .3rem;

    }

    input[type="submit"]{
        text-align: center;
        background: rgb(12, 12, 12);
        color: white;
        margin: 2rem 0;
    }

}

@media screen and (min-width: 40rem) {
    .login-form-box {
        width: 35rem;
        margin: auto;
    }
}